/Produto/nbproject/private/
/Atividade 01/Produto/nbproject/private/
/Atividade 01/Produto/build/
/Atividade 01/Funcionario/build/
/Atividade 01/Pessoa/nbproject/private/
/Atividade 01/Pessoa/build/
/Atividade 02/Musica/nbproject/private/
/Atividade 02/Musica/build/
/Atividade 02/AgendaTelefonica/nbproject/private/
/Atividade 02/AgendaTelefonica/build/
/Atividade 02/Pedido/nbproject/private/
/Atividade 02/Pedido/build/
